body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.17em;
}

.author {
  font-weight: bold;
}

p {
  font-size: 100%;
  margin-top: 40px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}

a:hover {
  color: pink;
}

a:active {
  color: white;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
